name: Feature Branch

on:
  push:
    branches-ignore:
      - "master"

jobs:
  test:
    name: Run Unit Test
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 13
        uses: actions/setup-java@v2
        with:
          java-version: '13'

      - name: Maven Package
        run: cd cicd/github_actions/maven_helm_k8s ; mvn -B clean package -DskipTests

      - name: Maven Verify
        run: cd cicd/github_actions/maven_helm_k8s , mvn -B clean verify
