name: My Workflow

on:
  workflow_dispatch:

jobs:
  job_1:
    runs-on: ubuntu-latest
    steps:
      - name: uptime
        run: uptime
        

  job_fails:
    runs-on: ubuntu-latest
    steps:
      - name: Failing step
        run: uptime
        

  job2:
    runs-on: ubuntu-latest
    steps:
      - name: print working directory
        run: pwd
