name: My Workflow

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: uptime
        run: uptime
        

  job2:
    runs-on: ubuntu-latest
    needs: [job1]
    steps:
      - name: Failing step
        run: somecommand

      - name: Step To run on failure
        if: ${{ failure() }}
        uses: andymckay/cancel-action@0.3
        #run: |
         # curl --request POST \

      #- name: cancelling
       # uses: andymckay/cancel-action@0.3


  job3:
    runs-on: ubuntu-latest
    #needs: [job2]
    steps:
      - name: print working directory
        run: pwd

  job4:
    runs-on: ubuntu-latest
    #needs: [job3]
    steps:
      - name: list files
        run: ls -la
